#App {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkorange; 
    padding-top: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.square {
    background-color: lightgoldenrodyellow;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    border: 5px solid red;
}
body {
    padding: 10%;
    background:blueviolet;
}